@tailwind base;
@tailwind components;
@tailwind utilities;

.forgotPage__form input {
  outline: none;
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 3px;
  border: none;
  background-color: #f7f7f7;
  color: rgba(11, 10, 10, 0.849);
  font-size: 1.2rem;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .forgotPage {
    flex-direction: column;
    padding: 24px;
  }
  .forgotPage .forgotPage__image {
    max-width: 400px;
    padding-right: 0;
    justify-content: center;
  }
  .forgotPage .forgotPage__content {
    width: 100%;
    padding-top: 24px;
    padding-left: 0;
    align-items: center;
  }

  .forgotPage .forgotPage__content > h1 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .forgotPage .forgot .Page__content > p {
    text-align: center;
  }
  .forgotPage .forgotPage__content .forgotPage__form {
    width: 100%;
  }
}
